HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/tokens
apache-maven-3.9.5-bin/apache-maven-3.9.5/LICENSE
apache-maven-3.9.5-bin/apache-maven-3.9.5/NOTICE
apache-maven-3.9.5-bin/apache-maven-3.9.5/README.txt
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/m2.conf
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/mvn
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/mvn.cmd
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/mvnDebug
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/mvnDebug.cmd
apache-maven-3.9.5-bin/apache-maven-3.9.5/bin/mvnyjp
apache-maven-3.9.5-bin/apache-maven-3.9.5/boot/plexus-classworlds-2.7.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/boot/plexus-classworlds.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/conf/settings.xml
apache-maven-3.9.5-bin/apache-maven-3.9.5/conf/toolchains.xml
apache-maven-3.9.5-bin/apache-maven-3.9.5/conf/logging/simplelogger.properties
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/aopalliance-1.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/aopalliance.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-cli-1.5.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-cli.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-codec-1.16.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-codec.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-lang3-3.12.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/commons-lang3.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/failureaccess-1.0.1.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/failureaccess.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/guava-32.0.1-jre.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/guava.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/guice-5.1.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/guice.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/httpclient-4.5.14.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/httpclient.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/httpcore-4.4.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/httpcore.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jansi-2.4.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jansi.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/javax.annotation-api-1.3.2.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/javax.annotation-api.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/javax.inject-1.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/javax.inject.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jcl-over-slf4j-1.7.36.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jcl-over-slf4j.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-artifact-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-builder-support-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-compat-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-core-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-embedder-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-model-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-model-builder-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-plugin-api-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-repository-metadata-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-api-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-connector-basic-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-impl-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-named-locks-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-provider-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-spi-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-transport-file-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-transport-http-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-transport-wagon-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-resolver-util-1.9.16.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-settings-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-settings-builder-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-shared-utils-3.3.4.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/maven-slf4j-provider-3.9.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/org.eclipse.sisu.inject-0.3.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/org.eclipse.sisu.inject.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/org.eclipse.sisu.plexus-0.3.5.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/org.eclipse.sisu.plexus.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-cipher-2.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-cipher.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-component-annotations-2.1.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-component-annotations.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-interpolation-1.26.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-interpolation.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-sec-dispatcher-2.0.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-sec-dispatcher.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-utils-3.5.1.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/plexus-utils.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/slf4j-api-1.7.36.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/slf4j-api.license
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/wagon-file-3.5.3.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/wagon-http-3.5.3.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/wagon-http-shared-3.5.3.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/wagon-provider-api-3.5.3.jar
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/ext/README.txt
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/ext/hazelcast/README.txt
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/ext/redisson/README.txt
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jansi-native/README.txt
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jansi-native/Windows/x86/jansi.dll
apache-maven-3.9.5-bin/apache-maven-3.9.5/lib/jansi-native/Windows/x86_64/jansi.dll
